@import "_variable.scss";

.product__group {
    margin-bottom: 75px;
}

.product__header {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid $sum-gray;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.product__clicker {
    position: relative;
    display: flex;
}

.product__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    color: $white;
    text-align: center;
    height: 42px;
    transform: translateY(-50%);
    background-color: $light;
    &:hover,
    &:focus {
        color: $white;
        background-color: $black;
        text-decoration: none;
        outline: none;
    }
    &:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }
}

.product__control_prev {
    right: 0;
    margin-right: 50px;
    &::before {
        background-image: url("../img/left-arrow.png");
    }
    &:hover,
    &:focus {
        &::before {
            background-image: url("../img/left-arrow-hover.png");
        }
    }
}

.product__control_next {
    right: 0;
    &::before {
        background-image: url("../img/right-arrow.png");
    }
    &:hover,
    &:focus {
        &::before {
            background-image: url("../img/right-arrow-hover.png");
        }
        }
    }


.product__items {
    display: flex;
    justify-content: space-between;
}

.product__item {
    border: 1px solid $sum-gray;
    width: 230px;
    max-width: 230px;
    height: 320px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    &:hover {
        border-color: $ocean;
        box-shadow: 0 0 3px $ocean;
    }
}

.label-sale {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        background-image: url(../img/Label-Sale.png);
        width: 54px;
        height: 54px;
        top: -2px;
        left: -3px;
    }
}

.product__photo {
    padding: 10px 10px 12px 10px;
}

.product__name {
    color: $light-gray;
    font-size: 13px;
    padding: 0 10px;
}

.product__name-font {
    font-family: $font-bitter;
}

.product__options {
    display: flex;
    border-top: 1px solid $sum-gray;
    height: 42px;
    margin-top: auto;
}

.product__price {
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 5px 0 5px 10px;
    line-height: 17px;
    margin: auto;
}

.product__price-now {
    color: $ocean;
    font-size: 12px;
    font-weight: 500;
}

.product__price-before {
    color: $light-gray;
    font-size: 11px;
    text-decoration: line-through;
}

.product__list {
    display: flex;
}

.product__list-item {
    &:last-child {
        background-color: $light;
    }
}

.product__list-link {
    border-left: 1px solid $sum-gray;
    width: 43px;
    height: 42px;
    padding: 15px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

.product__transfer {
    background-image: url(../img/transfer.png);
}

.product__heart {
    background-image: url(../img/heart.png);
}

.product__cart {
    background-image: url(../img/to-cart.png);
}


@media (max-width: 1000px) {
    .product__items {
        flex-wrap: wrap;
    }
    .product__item {
        margin: 15px;
    }
}

@media (max-width: 820px) {
    .product__items {
        justify-content: center;
    }
}

@media (max-width: 725px) {
    .product__items {
        justify-content: space-around;
    }
}

@media (max-width: 350px) {
    .featured-product__title {
        max-width: 120px;
    }
}
